    <script type="text/javascript">
            $(window).load(function(){
                $('#myModal').modal('show');
            });
        </script>

  <!-- Modal -->
  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <div class="project-modal-title text-center">Thanks for coming!<br>I'm Laura Theis.</div>
        </div>
        <div class="modal-body">
          <h5>This site is a demonstration site only. I created this portfolio site through the web developer course at <a href="http://careerfoundry.com/en" target="_blank"><%= image_tag("CareerFoundry.png", class: "img-responsive footer-image") %></a>.</h5>
        <h5>This site, showcasing the following skills, is a <span style="font-weight: bold">responsive, interactive, and dynamic Rails website</span>. <br><br>Please feel free to register on the site to explore logged in / logged out functionality.</h5>
        <ul class="list-columns">
          <li>HTML, HTML Forms, Mailers</li>
          <li>CSS, Bootstrap, Modal windows</li>
          <li>Javascript, Javascript APIs</li>
          <li>Ruby, Rails (MVC)</li>
          <li>Heroku</li>
          <li>Payments through Stripe</li>
          <li>Authentication, Authorization, User Moderation</li>
          <li><a href="https://github.com/lltheis/TheisRailsApp" target="_blank">GitHub</a> version control</li>
          <li>Redis</li>
          <li>ActionCable</li>
        </ul>
        </div>
        <div class="modal-footer">
          <h4 class="text-center">If you'd like to know a little more about me, <br>check out my website at <a href="http://www.the-is.com" target="_blank">the-is.com.</a></h4>
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

  <div id="carousel-example-generic" class="carousel slide" data-ride="carousel" data-interval="false">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
    <li data-target="#carousel-example-generic" data-slide-to="3"></li>
    <li data-target="#carousel-example-generic" data-slide-to="4"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
    <% @products.each do |product| %>
    <div class="item<%= " active" if product == @products.first %>">
      <%= image_tag(product.image_url) %>
      <div class="carousel-caption">
      	  <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
				    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
				    <span class="sr-only">Previous</span>
			  </a>
      <p class="product-title">
        <%= product.name %>
      </p>
       <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
			    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
			    <span class="sr-only">Next</span>
		  	</a>
      </div><!-- carousel caption -->
     </div><!-- list products -->
    <% end %>
  </div><!-- carousel -->
</div>


<div class="featured-next col-sm-8">
  <div class = "featured-next"><strong>Want to check out other bikes? </strong><%= link_to "Yes, go!", products_path %></div>
</div>
