<% cache product do %>
	<div class="col-xs-12 col-sm-4 text-center">
		<div class="product-title"><%= product.name %></div>
			<%= image_tag(product.image_url, class: "img-responsive featured-product") %>
		<div class="product-desc"><%= product.description %></div>
		<div class="product-price">Retail Price <%= number_to_currency(product.price) %></div>
		<div><%= link_to product, class:"btn btn-default", role:"button" do %>
	      	Tell me more!
	      <% end %> 
	  </div>

		<hr>
		
	</div><!-- /col -->
<% end %>