<p id="notice"><%= notice %></p>
<div class="page-title">
  <h1>Our Products</h1>
  <div class="container-fluid">
    <div class="row">
      <% @products.each do |product| %>
        <div class="product-grid col-sm-6 col-lg-4">
          <div><%= image_tag(product.image_url, class: "img-responsive product-img center-block") %></div>
          <div class="product-desc">
            <h1><%= product.name %></h1>
            <p><%= product.description %></p>
            <p>Color: <%= product.colour %></p>
            <p>Retail Price: <%= product.price %></p>
          </div>
          <div class="product-tools">
            <%= link_to 'Show', product, class: 'link-to' %>
            <%= link_to 'Edit', edit_product_path(product), class: 'link-to' %>
            <%= link_to 'Destroy', product, class: 'link-to', method: :delete, data: { confirm: 'Are you sure?' } %>
          </div>
        </div>
      </div><!-- /row -->
    </div><!-- /container -->
    <% end %>

  <br>

  <div class="col-sm-12">
  <%= link_to 'New Product', new_product_path %>
  </div>
</div>




