<div class="content">
  <table class="table">
    <tbody>
      <tr>
        <td rowspan="6" style="vertical-align: middle; border: none;"><%= image_tag(@product.image_url, class: "img-responsive") %></td>
      </tr>
      <tr>
        <td style="border: none;"><h2><%= @product.name %></h2></td>
      </tr>
      <tr>
        <td><h4><%= @product.description %></h4>
        <p>Color: <%= @product.colour %></td></p>
      </tr>
      <tr>
        <td><%= number_to_currency(@product.price) %></td>
      </tr>
      <tr>
        <td>Product Rating Stars</td>
      </tr>
      <tr>
        <td>Comments Section</td>
      </tr>

    </tbody>
  </table>

    <%= link_to 'Edit', edit_product_path(@product), class: "btn btn-forms" %>
    <%= link_to 'Back', products_path, class: "btn btn-forms" %>
</div>