<div class="content">
  <h1>Product:</h1><h2><%= @product.name %></h2>
  <table class="table">
    <tbody>
      <tr>
        <th>Description</th>
          <td><%= @product.description %></td>
      </tr>
      <tr>
        <th>Image URL</th>
          <td><%= @product.image_url %></td>
      </tr>
      <tr>
        <th>Color</th>
          <td><%= @product.colour %></td>
      </tr>
      <tr>
        <th>Price</th>
          <td><%= @product.price %></td>
      </tr>
    </tbody>
  </table>

    <%= link_to 'Edit', edit_product_path(@product), class: "btn btn-forms" %>
    <%= link_to 'Back', products_path, class: "btn btn-forms" %>
</div>