<div class="content">
  <div class="col-sm-6" >
    <div style="vertical-align: middle; border: none;"><%= image_tag(@product.image_url, class: "img-responsive img-zoom product-img", data_zoom_image: "@product.image_url" ) %>
    </div>
  </div>
    
    <div class="col-sm-6" data-product-id="<%= @product.id %>">
      <% cache @product do %>
        <h2><%= @product.name %></h2>
        <h4><%= @product.description %></h4>
        <br><span class="product-price">Color:</span> <%= @product.colour %>
        <br><br><span class="product-price">Retail Price:</span> <%= number_to_currency(@product.price) %></span>
      <% end %>
    <div>
      <% if user_signed_in? %>
        <%= form_tag "/payments/create" do %>
          <%= render partial: "shared/stripe_checkout_button" %>
            <%= hidden_field_tag(:product_id, @product.id) %>
        <% end %>
      <% end %>
    </div>
    <hr  class="hr-dashed">
    <div>
      <h3>Average Rating: <div class="rated" data-score="<%= @product.average_rating %>"></h3>
    </div>
    <div>
      <h3>Customer Ratings & Comments:</h3>
      <%= render 'comments' %>
      <%= will_paginate @comments %>
      <div class="alert alert-info" style="display:none" role="alert">A new comment was posted!
    </div>
        <div>
          <%= render 'new_comment' %>
        </div>
    </div>
  </div>
  <div class="col-sm-12">      
    <%= link_to 'Back', products_path, class: "btn btn-forms" %>
    <%= link_to 'Edit', edit_product_path(@product), class: "btn btn-forms" if ( signed_in?) %>
    
  </div>

</div>